{% extends 'base.html' %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner inline" id="main-content">
                            <img src="../static/img/rolling.svg">
                            <h1>Please wait, parsing the file...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
